# Скопируйте в .env и при необходимости отредактируйте.
# docker-compose автоматически подхватит значения из .env

DB_NAME=url_shortener
DB_USER=postgres
DB_PASSWORD=postgres
BASE_URL=http://localhost:8080
